<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gerenciar Desafios</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/desafios.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
</head>

<body>
  <div class="topo">
    <h1>Gerenciar Desafios</h1>
    <a href="{% url 'homeadmin' %}">Voltar</a>
  </div>
  <a href="{% url 'cadastro_desafio' %}" class="cdt">Cadastrar Novo Desafio</a>


  <div class="tabela">
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for desafio in desafios %}
        <tr>
          <td>{{ desafio.nome }}</td>
          <td>
            <button class="btn" onclick="toggleInfo('{{ desafio.id }}')">Ver Informações</button>
            <button class="btn" onclick="toggleCorretores('{{ desafio.id }}')">Ver Corretores</button>
            <a href="{% url 'editar_desafio' desafio.id %}" class="btn">Editar</a>

            <form method="POST" action="{% url 'apagar_desafio' desafio.id %}" style="display:inline;">
              {% csrf_token %}
              <button type="submit">Apagar</button>
            </form>
          </td>
        </tr>
  </div>
  <tr id="info-{{ desafio.id }}" class="hidden">
    <td colspan="2" class="info-detalhes">
      <div class="descricao">
        <h2>Descrição:</h2>
        <p>{{ desafio.descricao }}</p>
      </div>
      <div class="regras">
        <h2>Regras:</h2>
        <p>{{ desafio.regras }}</p>
      </div>
      {% if desafio.imagem %}
      <div class="imagem">
        <img src="{{ desafio.imagem.url }}" alt="Identidade Visual">
      </div>
      {% else %}
      <p><em>Sem imagem disponível.</em></p>
      {% endif %}
    </td>
  </tr>
  <tr id="corretores-{{ desafio.id }}" class="hidden">
    <td colspan="2" class="corretores-detalhes">
      <h2>Corretores Vinculados:</h2>
      <ul>
        {% for corretor in desafio.corretores.all %}
        <li>{{ corretor.nome }} (CPF: {{ corretor.cpf }})</li>
        {% empty %}
        <li>Nenhum corretor vinculado</li>
        {% endfor %}
      </ul>
    </td>
  </tr>
  {% endfor %}
  </tbody>
  </table>

  <script>
    function toggleInfo(rowId) {
      const infoRow = document.getElementById(`info-${rowId}`);
      if (infoRow.classList.contains("hidden")) {
        infoRow.classList.remove("hidden");
      } else {
        infoRow.classList.add("hidden");
      }
    }

    function toggleCorretores(rowId) {
      const corretoresRow = document.getElementById(`corretores-${rowId}`);
      if (corretoresRow.classList.contains("hidden")) {
        corretoresRow.classList.remove("hidden");
      } else {
        corretoresRow.classList.add("hidden");
      }
    }
  </script>
</body>

</html>